body{
    padding: 60px;
    letter-spacing: 0.5px;
}


h1{
    font-family: Arial;
    font-weight: bold 0.5;
    font-size: 27px;
    text-align: center;
}
h2{
    font-family: Arial;
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
    text-align: right;
}

.task-1 {

}

.task-1 h3 {
font-family: 'Times New Roman';
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
    text-decoration: underline;
    font-weight: normal;
}

.task-1 .condition {
    font-family: 'Times New Roman';
    font-size: 16px;
    text-indent: 40px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;

}
.task-1 .answer {
    font-family: 'Times New Roman';
    font-size: 13.3px;
    text-indent: -40px;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 0;
    
    
    text-decoration: none;
    line-height: 1.2;
    text-align: justify;
    
    
}

.task-1 .answer_start{
    font-family: 'Times New Roman';
    font-size: 13.3px;
    text-indent: -40px;
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 0;
    margin-right: 0;
    font-weight: bold;
}
.task-2 {

}
.task-2 h3 {
    font-family: 'Courier New';
    font-size: 19px;
    margin-top: 40px;
    margin-bottom: 0;
    font-style: italic;
    text-decoration: underline;
    font-weight: normal;
}
.task-2 .condition {

    font-family: 'Courier New';
    line-height: 2;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
}
.task-2 .answer {

font-family: 'Courier New';
    line-height: 1.2;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 60px;
    margin-left: 260px;
    text-indent: 40px ;

}
.task-2 .answer_start{
font-family: 'Courier New';
    font-size: 12px;
    text-decoration: underline;
    letter-spacing: 5px;
   
}

.task3{

}
.task-3 h3 {
    font-family: 'Times New Roman';
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 0;
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;

}
.task-3 .condition {
    font-family: 'Times New Roman';
    font-size: 16px;
    text-indent: 37.8px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 56px;
    margin-left: 120px;
    text-indent: 0;
    text-align: justify;
}

.task-3 .answer {
    font-family: 'Times New Roman';
    font-size: 10px;
    
    margin-top: 10px;

    margin-right: 56px;
    margin-left: 120px;
    
    
    line-height: 1.2;
    text-align: justify;
}
.task-3 .answer_start{ 

}

.task4{

}
.task-4 h3 {
    font-family: 'Times New Roman';
    font-size: 23px;
    margin-top: 40px;
    margin-bottom: 0;
    font-style: italic;
    text-decoration: underline;
    font-weight: normal;
    text-align: right;

}
.task-4 .condition {
    font-family: 'Times New Roman';
    font-size: 14px;
    text-indent: 0;
    line-height: 1.2;
    font-style: italic;
    
    margin-left: 120px;
    margin-top: 0;
    text-align: right;
}
.task-4 .answer {
    font-family: 'Times New Roman';
    font-size: 12px;
    text-indent: -40px;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 0;
    font-style: italic;
    line-height: 1.2;
    text-align: right;
    font-weight: bold;
}
.task-4 .answer_start{
    font-family: 'Times New Roman';
    font-size: 12px;
    text-indent: -40px;
    text-decoration: underline;
    
}